{% comment %}
copypasta from:
https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/change_list_object_tools.html
{% endcomment %}

{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  {% endif %}
  <li>
    {% url cl.opts|admin_urlname:'download' as download_url %}
    <a href="{% add_preserved_filters download_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Download all {{ name }} entries{% endblocktranslate %}
    </a>
  </li>
{% endblock %}